@model SalesManagement.BusinessLayer.Models.StatisticModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("./../images/sales-manager.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
</style>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-6">
            <h1 style="background-color: rgba(2245,245,245, .8)">Total Sellers</h1>
            <div class="card bg-warning text-white">
                <div class="card-body">
                    <span class="fa fa-group" style="font-size:36px; color:black"></span>
                    <span class="branding-bar" style="float:right; font-size: xx-large; color:black">@Model.TotalSellers</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h1 style="background-color:rgba(2245,245,245, .8)">Total Sales</h1>
            <div class="card bg-warning text-white">
                <div class="card-body">
                    <span class='fa fa-bitcoin' style='font-size:36px; color:black'></span>
                    <span class="branding-bar" style="float:right; font-size: xx-large; color:black">@Model.TotalSales</span>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>


</body>
